.dukes-frame {
    display: flex;
    flex-direction: column;
}

.dukes-tabs {
    padding-bottom: 0.5rem;
}

.dukes-body {
    flex: 1;
    padding: 0 1rem 1rem 1rem;
}

.dukes-footer {
    flex: 0 0 1px;
    padding: 0rem 1rem 0.5rem 1rem;
    display: flex;
    flex-direction: column;
}

.dukes-frame h1, .dukes-frame h2, .dukes-frame h3, .dukes-frame h4, .dukes-frame h5, .dukes-frame h6 {
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
}
.dukes-frame h1 {
    margin-top: 0.5rem;
    font-size: 24px;
}
.dukes-frame h3 {
    font-size: 20px;
    margin: 0;
}

.dukes-frame button {
    margin: initial;
}

.dukes-frame .item-center {
    align-items: center;
}

.dukes-frame .text-center {
    text-align: center;
}

.dukes-frame .flexrow input, .dukes-frame .flexrow select {
    height: 27px;
}

.dukes-frame .dukes-dice-btn {
    margin: 0px 1px;
}

.dukes-frame .dukes-adv-dcr-option {
    float: right;
    height: 16px;
    width: 16px;
    margin: 0px;
}

.dukes-frame .border {
    border-bottom: 2px groove #eeede0;
}

.dukes-frame .description {
    margin-top: 5px;
    color: #7a7971;
    font-size: 12px;
}

.dukes-frame .items-list {
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    scrollbar-width: thin;
}
.dukes-frame .items-list button {
    height: 29px;
    line-height: 25px;
}

.dukes-frame .items-list .items-header {
    padding: 0.25rem;
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove #eeede0;
    font-weight: bold;
}
.dukes-frame .items-list .items-header h3 {
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    font-weight: 700;
    text-align: left;
    font-size: 16px;
}

.dukes-frame .items-list .item-name {
    flex: 2;
    padding: 3px;
    overflow: hidden;
}

.dukes-frame .items-list .item-detail {
    flex: 1;
    padding: 1px;
    text-align: center;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.dukes-frame .items-list .item {
    align-items: center;
    /* border-bottom: 1px solid #c9c7b8; */
}
.dukes-frame .items-list .item:last-child {
    border-bottom: none;
  }

li.scene-control i.fa-dice-d20 {
    color: #5075c4;
}
