.dukes-frame {
    display: flex;
    flex-direction: column;
    padding: 0 0 16px 0;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
}

.dukes-body {
    flex: 1;
    padding: 0 16px;
}
.dukes-body label {
    font-size: 20px;
}

.dukes-footer {
    flex: 0 0 1px;
    padding: 8px 16px 0 16px;
    display: flex;
}

.dukes-frame h1,
.dukes-frame h2 {
    margin-top: 10px;
}

.dukes-frame .item-center {
    align-items: center;
}

.dukes-frame .text-center {
    text-align: center;
}

.dukes-frame .ml-1 {
    margin-left: 1px;
}
.dukes-frame .mr-1 {
    margin-right: 1px;
}
.dukes-frame .mt-1 {
    margin-top: 1px;
}

.dukes-frame .flexrow input, .dukes-frame .flexrow select {
    height: 27px;
}

.dukes-frame .dukes-adv-dcr-option {
    top: inherit;
    float: right;
    height: 16px;
    width: 16px;
    margin: 0px;
}

li.scene-control i.fa-dice-d20 {
    color: #5075c4;
}
